/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

 .qubely-insblock-for-gutenberg {
    display: inline-block;
    width: 100%;
    .qubely-insblock-row {
        margin: -15px;
        display: inline-block;

        .instagram-image {
            padding: 15px;
            float: left;
            line-height: 0;
        }
        .qubely-col-2 {
            width: 50%;
        }
        .qubely-col-3 {
            width: 33.33%;
        }
        .qubely-col-4 {
            width: 25%;
        }
        .qubely-col-5 {
            width: 20%;
        }
        .qubely-col-6 {
            width: 16.66%;
        }
        
    }
}